@model KIVO.Models.ViewModels.OrganizacionViewModel

<div>
    <h3>Formulario para Consultorio</h3>
    @using (Html.BeginForm("RegistrarOrganizacion", "Cuenta", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.TipoOrganizacion, new { Value = "Consultorio" })
        <div>
            @Html.LabelFor(m => m.Especialidad)
            @Html.TextBoxFor(m => m.Especialidad)
        </div>
        <div>
            @Html.LabelFor(m => m.NombreClinica)
            @Html.TextBoxFor(m => m.NombreClinica)
        </div>
        <button type="submit">Guardar</button>
    }
</div>
